.nft-info-container {
    display: flex; /* Utilizza flexbox per la disposizione */
    max-width: 1200px; /* Larghezza massima della pagina */
    margin: 100px auto; /* Centra la pagina */
    border: 1px solid #ddd; /* Bordo grigio chiaro */
    border-radius: 10px; /* Angoli arrotondati */
    overflow: hidden; /* Nasconde il contenuto che esce dai bordi */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    justify-content: center;
  }

  @media (max-width: 1250px){
    .nft-info-container{
      margin: 100px 50px;
    }
  }

  @media (max-width: 900px){
    .nft-info-container{
      margin: 100px 30px;
    }
  }

  @media (max-width: 700px){
    .nft-info-container{
      margin: 100px 20px;
    }
  }

  @media (max-width: 500px){
    .nft-info-container{
      margin: 100px 10px;
    }
  }
  
  .nft-image {
    width: 50%; /* Larghezza dell'immagine */
    height: auto; /* Mantiene l'altezza proporzionale */
    object-fit: cover; /* Mantiene le proporzioni dell'immagine */
  }
  
  .nft-details {
    padding: 20px; /* Spaziatura interna */
    display: flex;
    flex-direction: column; /* Colonna per il contenuto */
    justify-content: flex-start; /* Allinea il contenuto in alto */
  }
  
  .nft-title {
    font-size: 1.5em; /* Dimensione del titolo */
    margin: 0; /* Margine nullo */
  }
  
  .nft-description {
    font-size: 1em; /* Dimensione del testo della descrizione */
    color: #555; /* Colore del testo grigio scuro */
    margin: 10px 0; /* Margine verticale */
  }
  
  .nft-price {
    font-size: 1.2em; /* Dimensione del prezzo */
    font-weight: bold; /* Grassetto per il prezzo */
    margin: 10px 0; /* Margine verticale */
  }
  
  .purchase-button {
    padding: 10px 20px; /* Spaziatura interna del bottone */
    background-color: #4CAF50; /* Colore verde del bottone */
    color: white; /* Colore del testo */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Angoli arrotondati */
    cursor: pointer; /* Cursore a mano */
    transition: background-color 0.3s; /* Transizione del colore di sfondo */
  }
  
  .purchase-button:hover {
    background-color: #45a049; /* Colore al passaggio del mouse */
  }

  @media (max-width: 630px){
    .nft-info-container{
      flex-direction: column;
    }

    .nft-image{
      width: 100%; /* Assicura che l'immagine occupi tutta la larghezza */
      height: auto; /* Mantiene l'altezza proporzionale */
      margin: 0 auto; /* Centra l'immagine orizzontalmente */
      align-self: center;
    }
  
  }
  