.purchase-history {
    padding: 20px;

  }
  
  .orders-list {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Spaziatura tra gli ordini */
  }
  
  .order-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .order-image {
    width: 100px; /* Dimensione fissa per l'immagine */
    height: auto; /* Mantiene le proporzioni dell'immagine */
    margin-right: 15px; /* Spazio tra l'immagine e i dettagli */
  }
  
  .order-details {
    display: flex;
    flex-direction: column;
  }
  
  .order-title {
    margin: 0; /* Rimuove il margine predefinito */
    font-size: 18px;
  }
  
  .order-date, .order-price {
    margin: 5px 0; /* Spaziatura verticale tra le righe */
    color: #555; /* Colore del testo */
  }

  .Connect-Wallet-Error {
    background-color: #f8d7da; /* Colore di sfondo rosato */
    color: #721c24; /* Colore del testo rosso scuro */
    border: 1px solid #f5c6cb; /* Bordo rosato */
    border-radius: 5px; /* Angoli arrotondati */
    padding: 15px; /* Spaziatura interna */
    margin: 20px 0; /* Margine sopra e sotto */
    font-size: 1.2em; /* Dimensione del testo */
    font-weight: bold; /* Testo in grassetto */
    text-align: center; /* Allineamento del testo al centro */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    transition: all 0.3s ease; /* Transizione per effetti */
    margin: 150px 0px;
  }
  
  .Connect-Wallet-Error:hover {
    background-color: #f5c6cb; /* Colore di sfondo al passaggio del mouse */
    transform: translateY(-3px); /* Sollevamento leggero */
  }
  
  